# Configuration files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Dependencies
node_modules/
package-lock.json
yarn.lock

# IDE files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db
*.log
.cache/

# Build files
dist/
build/
*.min.js
*.min.css

# Netlify
.netlify/
.netlify.toml
.netlify.state.json

# Local Netlify folder
.netlify 